.TodayTomorrowIndexTabRoot {
    display: flex;
    margin-top: 10px;
}

.TodayTomorrowIndexTabNotSelected {
    width: 50%;
    text-align: center;
    font-size: .9rem;
    color: #333;
    background-color: #eee;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.TodayTomorrowIndexTabNotSelected:hover {
    cursor: pointer;
    color: #c1132e;
}

.TodayTomorrowIndexTabNotSelected:nth-of-type(n + 2) {
    border-right: solid 1px #ccc;
}

.TodayTomorrowIndexTabNotSelected em {
    font-style: normal;
}

.TodayTomorrowIndexTabSelected {
    width: 50%;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border-top: solid 5px #5089ff;
    border-left: solid 1px #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.TodayTomorrowIndexTabSelected:hover {
    cursor: pointer;
}

.TodayTomorrowIndexTabSelected em {
    font-style: normal;
}

.TodayTomorrowIndexTabNotSelected em.DayOfWeekSat,
.TodayTomorrowIndexTabSelected em.DayOfWeekSat {
    color: #0a38e4;
}

.TodayTomorrowIndexTabNotSelected em.DayOfWeekSun,
.TodayTomorrowIndexTabSelected em.DayOfWeekSun {
    color: #c1132e;
}
