.PinPointBody {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 6px;
}

.PinPointBodyItem {
    display: flex;
    width: 20%;
}

.PinPointBodyItem:nth-of-type(n + 6) {
    margin-top: 5px;
}

.PinPointBodyItem a {
    text-decoration: none;
    font-size: .9375rem;
}

.PinPointBodyItem a:hover {
    color: #c1132e;
}
