#wrapper {
  width: 990px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 50px;
}

#main {
  display: table;
  width: 100%;
}

#contents {
  display: table-cell;
}

#menu {
  display: table-cell;
  width: 150px;
}

#footer {
  width: 100%;
  height: 50px;
}
